<% provide(:title) %>
<div class="center jumbotron">
    <h1>ref-notes : Stock your reference.</h1>
    <p>ref-notesはコード進行で楽曲を管理できるサービスです。</p>
    <p><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>
</div>