<footer class="footer">
  <small>
    ref-notes
    by <a href="http://pixelbeat.jp/" target="_blank">pixelbeat</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", 'http://pixelbeat.jp/about', target: "_blank" %></li>
      <li><%= link_to "Contact", 'http://pixelbeat.jp/contact', target: "_blank" %></li>
    </ul>
  </nav>
</footer>